.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-4;
}

.markdown a {
  @apply text-blue-600 underline break-words;
}
.markdown a:visited {
  @apply text-blue-900;
}

.markdown h1 {
  @apply font-bold text-4xl mt-16 mb-6 leading-snug;
}

.markdown h2 {
  @apply font-bold text-2xl my-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl my-2 leading-snug;
}

.markdown :not(pre) code {
  @apply bg-gray-100 py-1 px-2 font-mono text-sm font-medium rounded;
}
.markdown pre > code {
  @apply text-sm rounded-sm rounded py-4;
}

.markdown ol {
  list-style: decimal;
}
.markdown ul {
  list-style: square;
}
.markdown ol,
.markdown ul {
  padding-left: 2em;
}
